## Exercises - list and set

Let us go through some exercises related to list and set.

## Get second largest integer

Develop a code snippet using list and set manipulation functions to get second largest element from the list.
* List: `[1, 5, 2, 1, 7, 5, 7, 3]`
* Answer: **5**

In [3]:
# Your code should go here
l=[1, 5, 2, 1, 7, 5, 7, 3]
a=set(l)

sorted(a,reverse=True)[1]

5

## Create a list for integers

Develop a function which take a list as argument and return a new list with only integers. You can develop this using loops.
* The list might contain data with different data types.
* The new list with only integers should be sorted in descending order.
* The new list should only contain unique values

In [16]:
# You should add the logic here
def extract_integers(l):
    l_ints = []
    for i in l:
        if type(i)==int:
            l_ints.append(i)
            
    return sorted(set(l_ints),reverse=True)

In [17]:
extract_integers([1, 'Hello', None, 5, 0.15, 1, 5]) # Answer: [5, 1]

[5, 1]

## Get top n salaries

Develop a function which take a list of salaries and give us top n salaries. Solve the problem with out using loops.
* The function should take 2 arguments - list of salaries and the top n.
* Based up on the value passed as part of second argument, you should get those many top salaries.
* We should get only unique top n salaries

In [24]:
# You should add the logic here
def top_n_salaries(salaries, top_n):
    salaries_top_n = []
    sal_set=set(salaries)
    sal_list=sorted(sal_set,reverse=True)
    salaries_top_n=sal_list[:top_n]
    return salaries_top_n

In [25]:
salaries = [
    18732.8, 12842.28, 13391.69, 14061.23,
    25509.77, 13636.95, 11841.63, 11519.12,
    16719.45, 25066.37, 12842.28, 25066.37
]

In [26]:
top_n_salaries(salaries, 3)
# Output: [25509.77, 25066.37, 18732.8]

[25509.77, 25066.37, 18732.8]

In [27]:
top_n_salaries(salaries, 5)
[25509.77, 25066.37, 18732.8, 16719.45, 14061.23]

[25509.77, 25066.37, 18732.8, 16719.45, 14061.23]

In [34]:
employees = [
    '1,ktrett0@independent.co.uk,6998.95',
    '2,khaddock1@deviantart.com,10572.4',
    '3,ecraft2@dell.com,3967.35',
    '4,drussam3@t-online.de,17672.44',
    '5,graigatt4@github.io,11660.67',
    '6,bjaxon5@salon.com,18614.93',
    '7,araulston6@list-manage.com,11550.75',
    '8,mcobb7@mozilla.com,17016.15',
    '9,grobardley8@unesco.org,14141.25',
    '10,bbuye9@vkontakte.ru,12193.2'
]

In [49]:
# You can reverse by using reverse keywork argument
# reverse will be applied on custom comparison passed as part of key
sorted(employees, key=lambda emp: float(emp.split(',')[-1]), reverse=True)

['6,bjaxon5@salon.com,18614.93',
 '4,drussam3@t-online.de,17672.44',
 '8,mcobb7@mozilla.com,17016.15',
 '9,grobardley8@unesco.org,14141.25',
 '10,bbuye9@vkontakte.ru,12193.2',
 '5,graigatt4@github.io,11660.67',
 '7,araulston6@list-manage.com,11550.75',
 '2,khaddock1@deviantart.com,10572.4',
 '1,ktrett0@independent.co.uk,6998.95',
 '3,ecraft2@dell.com,3967.35']

In [68]:
sorted(sorted(employees, key=lambda emp: float(emp.split(',')[-1]),reverse=True)
       , key=lambda emp: emp.split(',')[1])

['7,araulston6@list-manage.com,11550.75',
 '10,bbuye9@vkontakte.ru,12193.2',
 '6,bjaxon5@salon.com,18614.93',
 '4,drussam3@t-online.de,17672.44',
 '3,ecraft2@dell.com,3967.35',
 '5,graigatt4@github.io,11660.67',
 '9,grobardley8@unesco.org,14141.25',
 '2,khaddock1@deviantart.com,10572.4',
 '1,ktrett0@independent.co.uk,6998.95',
 '8,mcobb7@mozilla.com,17016.15']