## Date Manipulation Functions

Let us go through some of the important date manipulation functions.

* Getting Current Date and Timestamp
* Date Arithmetic using `INTERVAL` and `-` operator
* Getting beginning date or time using `date_trunc`
* Extracting information using `to_char` as well as calendar functions.
* Dealing with unix timestamp using `from_unixtime`, `to_unix_timestamp`

### Getting Current Date and Timestamp

Let us understand how to get the details about current or today's date as well as current timestamp.

In [74]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [75]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

* `current_date` is the function or operator which will return today's date.
* `current_timestamp` is the function or operator which will return current time up to milliseconds.
* These are not like other functions and do not use **()** at the end.
* There is a format associated with date and timestamp.
  * Date - `yyyy-MM-dd`
  * Timestamp - `yyyy-MM-dd HH:mm:ss.SSS`
* We can apply all string manipulation functions on date or timestamp once they are typecasted to strings using `varchar`.

In [76]:
%%sql

SELECT current_date AS current_date

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.date(2020, 12, 1),)]

In [77]:
%%sql

SELECT current_timestamp AS current_timestamp

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 250677, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

```{note}
Example of applying string manipulation functions on dates. However, it is not a good practice. Postgres provide functions on dates or timestamps for most of the common requirements.
```

In [78]:
%%sql

SELECT substring(current_date::varchar, 1, 4) AS current_date

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[('2020',)]

### Date Arithmetic
Let us understand how to perform arithmetic on dates or timestamps.

* We can add or subtract days or months or years from date or timestamp by using special operator called as `INTERVAL`.
* We can also add or subtract hours, minutes, seconds etc from date or timestamp using `INTERVAL`.
* We can combine multiple criteria in one operation using `INTERVAL`
* We can get difference between 2 dates or timestamps using minus (`-`) operator.

In [80]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [81]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

In [82]:
%%sql

SELECT current_date + INTERVAL '32 DAYS' AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2021, 1, 2, 0, 0),)]

In [83]:
%%sql

SELECT current_date + INTERVAL '730 DAYS' AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2022, 12, 1, 0, 0),)]

In [84]:
%%sql

SELECT current_date + INTERVAL '-730 DAYS' AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2018, 12, 2, 0, 0),)]

In [85]:
%%sql

SELECT current_date - INTERVAL '730 DAYS' AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2018, 12, 2, 0, 0),)]

In [86]:
%%sql

SELECT current_date + INTERVAL '3 MONTHS' AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2021, 3, 1, 0, 0),)]

In [87]:
%%sql

SELECT '2019-01-31'::date + INTERVAL '3 MONTHS' AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2019, 4, 30, 0, 0),)]

In [88]:
%%sql

SELECT '2019-01-31'::date + INTERVAL '3 MONTHS 3 DAYS 3 HOURS' AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2019, 5, 3, 3, 0),)]

In [89]:
%%sql

SELECT current_timestamp + INTERVAL '3 MONTHS' AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2021, 3, 1, 10, 55, 19, 336241, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [90]:
%%sql

SELECT current_timestamp + INTERVAL '10 HOURS' AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 20, 55, 19, 343569, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [91]:
%%sql

SELECT current_timestamp + INTERVAL '10 MINUTES' AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 11, 5, 19, 350628, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [92]:
%%sql

SELECT current_timestamp + INTERVAL '10 HOURS 10 MINUTES' AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 21, 5, 19, 357712, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [93]:
%%sql

SELECT '2019-03-30'::date - '2017-12-31'::date AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(454,)]

In [94]:
%%sql

SELECT '2017-12-31'::date - '2019-03-30'::date AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(-454,)]

In [95]:
%%sql

SELECT current_date - '2019-03-30'::date AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(612,)]

In [96]:
%%sql

SELECT current_timestamp - '2019-03-30'::date AS result

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.timedelta(612, 39319, 384205),)]

### Beginning Date or Time - date_trunc
Let us understand how to use `date_trunc` on dates or timestamps and get beginning date or time.

* We can use **MONTH** to get beginning date of the month.
* **YEAR** can be used to get begining date of the year.

In [98]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [99]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

In [100]:
%%sql

SELECT date_trunc('YEAR', current_date) AS year_beginning

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 1, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [101]:
%%sql

SELECT date_trunc('MONTH', current_date) AS month_beginning

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [102]:
%%sql

SELECT date_trunc('WEEK', current_date) AS week_beginning

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 11, 30, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [103]:
%%sql

SELECT date_trunc('DAY', current_date) AS day_beginning

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [104]:
%%sql

SELECT date_trunc('HOUR', current_timestamp) AS hour_beginning

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

### Extracting information using to_char

Let us understand how to use `to_char` to extract information from date or timestamp.

Here is how we can get date related information such as year, month, day etc from date or timestamp.

In [106]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [107]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

In [108]:
%%sql

SELECT current_timestamp AS current_timestamp

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 457415, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [109]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'yyyy') AS year

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 463947, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '2020')]

In [110]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'yy') AS year

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 470978, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '20')]

In [111]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'MM') AS month

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 477856, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '12')]

In [112]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'dd') AS day_of_month

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 485328, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '01')]

In [113]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'DD') AS day_of_month

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 492543, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '01')]

In [114]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'DDD') AS day_of_year

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 500876, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '336')]

In [115]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'Mon') AS month_name

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 508738, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Dec')]

In [116]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'mon') AS month_name

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 516104, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'dec')]

In [117]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'Month') AS month_name

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 524174, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'December ')]

In [118]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'month') AS month_name

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 531890, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'december ')]

In [119]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'day') AS day_name

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 539086, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'tuesday  ')]

In [120]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'DY') AS day_name

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 546707, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'TUE')]

```{note}
When we use `Day` to get the complete name of a day, it will return 9 character string by padding with spaces.
```

In [121]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'Day') AS dayname

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 554521, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Tuesday  ')]

In [122]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char('2020-11-17'::date, 'Day') AS dayname,
    length(to_char('2020-11-17'::date, 'Day')) AS dayname_length,
    length(trim(to_char('2020-11-17'::date, 'Day'))) AS dayname_trimmed_length

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 562443, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Tuesday  ', 9, 7)]

* Here is how we can get time related information such as hour, minute, seconds, milliseconds etc from timestamp.

In [123]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'HH') AS hour24

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 569746, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '10')]

In [124]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'hh') AS hour12

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 578703, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '10')]

In [125]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'mm') AS minutes

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 588247, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '12')]

In [126]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'ss') AS seconds

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 595061, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '19')]

In [127]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'MS') AS millis

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 55, 19, 602141, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '602')]

* Here is how we can get the information from date or timestamp in the format we require.

In [128]:
%%sql

SELECT to_char(current_timestamp, 'yyyyMM') AS current_month

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[('202012',)]

In [129]:
%%sql

SELECT to_char(current_timestamp, 'yyyyMMdd') AS current_date

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[('20201201',)]

In [130]:
%%sql

SELECT to_char(current_timestamp, 'yyyy/MM/dd') AS current_date

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[('2020/12/01',)]

### Extracting information - extract

We can get year, month, day etc from date or timestamp using `extract` function. For almost all these scenarios such as getting year, month, day etc we can use `to_char` as well.

* Let us see the usage of `extract` to get information such as year, quarter, month, week, day, hour etc.
* We can also use `date_part` in place of `extract`. However there is subtle difference between them with respect to the syntax.

In [132]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [133]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

In [134]:
%%sql

SELECT extract(century FROM current_date) AS century

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(21.0,)]

In [135]:
%%sql

SELECT date_part('century', current_date) AS century

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(21.0,)]

In [136]:
%%sql

SELECT extract(decade FROM current_date) AS decade

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(202.0,)]

In [137]:
%%sql

SELECT date_part('decade', current_date) AS century

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(202.0,)]

In [138]:
%%sql

SELECT extract(year FROM current_date) AS year

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(2020.0,)]

In [139]:
%%sql

SELECT extract(quarter FROM current_date) AS quarter

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(4.0,)]

In [140]:
%%sql

SELECT extract(month FROM current_date) AS month

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(12.0,)]

In [141]:
%%sql

SELECT extract(week FROM current_date) AS week

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(49.0,)]

In [142]:
%%sql

SELECT extract(day FROM current_date) AS day

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(1.0,)]

In [143]:
%%sql

SELECT extract(doy FROM current_date) AS day_of_year

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(336.0,)]

In [144]:
%%sql

SELECT extract(dow FROM current_date) AS day_of_week

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(2.0,)]

In [145]:
%%sql

SELECT extract(hour FROM current_timestamp) AS hour

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(10.0,)]

In [146]:
%%sql

SELECT extract(minute FROM current_timestamp) AS minute

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(55.0,)]

In [147]:
%%sql

SELECT extract(second FROM current_timestamp) AS second

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(19.740129,)]

In [148]:
%%sql

SELECT extract(milliseconds FROM current_timestamp) AS millis

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(19747.729,)]

### Dealing with Unix Timestamp

Let us go through the functions that can be used to deal with Unix Timestamp.

* `extract` with `epoch` can be used to convert Unix epoch to regular timestamp. We can also use `date_part`;
* `to_timestamp` can be used to convert timestamp to Unix epoch.
* We can get Unix epoch or Unix timestamp by running `date '+%s'` in Unix/Linux terminal

Let us sww how we can use functions such as `extract` or `to_timestamp` to convert between timestamp and Unix timestamp or epoch.

* We can unix epoch in Unix/Linux terminal using `date '+%s'`

In [150]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [151]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

In [152]:
%%sql

SELECT extract(epoch FROM current_date) AS date_epoch

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(1606780800.0,)]

In [153]:
%%sql

SELECT date_part('epoch', current_date) AS date_epoch

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(1606780800.0,)]

In [154]:
%%sql

SELECT extract(epoch FROM '2019-04-30 18:18:51'::timestamp) AS unixtime

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(1556648331.0,)]

In [155]:
%%sql

SELECT to_timestamp(1556662731) AS time_from_epoch

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2019, 4, 30, 22, 18, 51, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [156]:
%%sql

SELECT to_timestamp(1556662731)::date AS time_from_epoch

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.date(2019, 4, 30),)]

In [157]:
%%sql

SELECT to_char(to_timestamp(1556662731), 'yyyyMM')::int AS yyyyMM_from_epoch

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(201904,)]