## Using CASE and WHEN
At times we might have to select values from multiple columns conditionally.

* We can use `CASE` and `WHEN` for that.
* Let us implement this conditional logic to come up with derived order_status.
  * If order_status is COMPLETE or CLOSED, set COMPLETED
  * If order_status have PENDING in it, then we will say PENDING
  * If order_status have PROCESSING or PAYMENT_REVIEW in it, then we will say PENDING
  * We will set all others as OTHER
* We can also have `ELSE` as part of `CASE` and `WHEN`.

In [204]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [205]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

In [206]:
%sql DROP TABLE IF EXISTS sales

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.

[]

In [207]:
%%sql

CREATE TABLE IF NOT EXISTS sales(
    sales_person_id INT,
    sales_amount FLOAT,
    commission_pct INT
)

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.

[]

In [208]:
%%sql

INSERT INTO sales VALUES
    (1, 1000, 10),
    (2, 1500, 8),
    (3, 500, NULL),
    (4, 800, 5),
    (5, 250, NULL)

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
5 rows affected.

[]

In [209]:
%%sql

SELECT * FROM sales

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
5 rows affected.

[(1, 1000.0, 10),
 (2, 1500.0, 8),
 (3, 500.0, None),
 (4, 800.0, 5),
 (5, 250.0, None)]

In [210]:
%%sql

SELECT s.*,
    CASE WHEN commission_pct IS NOT NULL 
        THEN round((sales_amount * commission_pct / 100)::numeric, 2)
    ELSE 0
    END AS commission_amount
FROM sales s

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
5 rows affected.

[(1, 1000.0, 10, Decimal('100.00')),
 (2, 1500.0, 8, Decimal('120.00')),
 (3, 500.0, None, Decimal('0')),
 (4, 800.0, 5, Decimal('40.00')),
 (5, 250.0, None, Decimal('0'))]

In [211]:
%%sql

SELECT DISTINCT order_status FROM orders
ORDER BY order_status

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
9 rows affected.

[('CANCELED',),
 ('CLOSED',),
 ('COMPLETE',),
 ('ON_HOLD',),
 ('PAYMENT_REVIEW',),
 ('PENDING',),
 ('PENDING_PAYMENT',),
 ('PROCESSING',),
 ('SUSPECTED_FRAUD',)]

In [212]:
%%sql

SELECT o.*,
    CASE WHEN order_status IN ('COMPLETE', 'CLOSED') THEN 'COMPLETED'
    END AS updated_order_status
FROM orders o
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(1021, datetime.datetime(2013, 7, 30, 0, 0), 10118, 'COMPLETE', 'COMPLETED'),
 (4068, datetime.datetime(2013, 8, 17, 0, 0), 12293, 'PENDING', None),
 (5881, datetime.datetime(2013, 8, 30, 0, 0), 3715, 'CLOSED', 'COMPLETED'),
 (7564, datetime.datetime(2013, 9, 9, 0, 0), 8648, 'CLOSED', 'COMPLETED'),
 (8766, datetime.datetime(2013, 9, 18, 0, 0), 855, 'COMPLETE', 'COMPLETED'),
 (8926, datetime.datetime(2013, 9, 19, 0, 0), 10517, 'ON_HOLD', None),
 (9290, datetime.datetime(2013, 9, 21, 0, 0), 11879, 'COMPLETE', 'COMPLETED'),
 (9793, datetime.datetime(2013, 9, 24, 0, 0), 9809, 'COMPLETE', 'COMPLETED'),
 (9816, datetime.datetime(2013, 9, 24, 0, 0), 1753, 'COMPLETE', 'COMPLETED'),
 (14047, datetime.datetime(2013, 10, 20, 0, 0), 6473, 'CLOSED', 'COMPLETED')]

In [213]:
%%sql

SELECT o.*,
    CASE WHEN order_status IN ('COMPLETE', 'CLOSED') THEN 'COMPLETED'
    ELSE order_status
    END AS updated_order_status
FROM orders o
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(1021, datetime.datetime(2013, 7, 30, 0, 0), 10118, 'COMPLETE', 'COMPLETED'),
 (4068, datetime.datetime(2013, 8, 17, 0, 0), 12293, 'PENDING', 'PENDING'),
 (5881, datetime.datetime(2013, 8, 30, 0, 0), 3715, 'CLOSED', 'COMPLETED'),
 (7564, datetime.datetime(2013, 9, 9, 0, 0), 8648, 'CLOSED', 'COMPLETED'),
 (8766, datetime.datetime(2013, 9, 18, 0, 0), 855, 'COMPLETE', 'COMPLETED'),
 (8926, datetime.datetime(2013, 9, 19, 0, 0), 10517, 'ON_HOLD', 'ON_HOLD'),
 (9290, datetime.datetime(2013, 9, 21, 0, 0), 11879, 'COMPLETE', 'COMPLETED'),
 (9793, datetime.datetime(2013, 9, 24, 0, 0), 9809, 'COMPLETE', 'COMPLETED'),
 (9816, datetime.datetime(2013, 9, 24, 0, 0), 1753, 'COMPLETE', 'COMPLETED'),
 (14047, datetime.datetime(2013, 10, 20, 0, 0), 6473, 'CLOSED', 'COMPLETED')]

In [214]:
%%sql

SELECT o.*,
    CASE 
        WHEN order_status IN ('COMPLETE', 'CLOSED') THEN 'COMPLETED'
        WHEN order_status ~ 'PENDING' THEN 'PENDING'
        ELSE 'OTHER'
    END AS updated_order_status
FROM orders o
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(1021, datetime.datetime(2013, 7, 30, 0, 0), 10118, 'COMPLETE', 'COMPLETED'),
 (4068, datetime.datetime(2013, 8, 17, 0, 0), 12293, 'PENDING', 'PENDING'),
 (5881, datetime.datetime(2013, 8, 30, 0, 0), 3715, 'CLOSED', 'COMPLETED'),
 (7564, datetime.datetime(2013, 9, 9, 0, 0), 8648, 'CLOSED', 'COMPLETED'),
 (8766, datetime.datetime(2013, 9, 18, 0, 0), 855, 'COMPLETE', 'COMPLETED'),
 (8926, datetime.datetime(2013, 9, 19, 0, 0), 10517, 'ON_HOLD', 'OTHER'),
 (9290, datetime.datetime(2013, 9, 21, 0, 0), 11879, 'COMPLETE', 'COMPLETED'),
 (9793, datetime.datetime(2013, 9, 24, 0, 0), 9809, 'COMPLETE', 'COMPLETED'),
 (9816, datetime.datetime(2013, 9, 24, 0, 0), 1753, 'COMPLETE', 'COMPLETED'),
 (14047, datetime.datetime(2013, 10, 20, 0, 0), 6473, 'CLOSED', 'COMPLETED')]

In [215]:
%%sql

SELECT o.*,
    CASE 
        WHEN order_status IN ('COMPLETE', 'CLOSED') THEN 'COMPLETED'
        WHEN order_status LIKE '%PENDING%' OR order_status IN ('PROCESSING', 'PAYMENT_REVIEW')
            THEN 'PENDING'
        ELSE 'OTHER'
    END AS updated_order_status
FROM orders o
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(1021, datetime.datetime(2013, 7, 30, 0, 0), 10118, 'COMPLETE', 'COMPLETED'),
 (4068, datetime.datetime(2013, 8, 17, 0, 0), 12293, 'PENDING', 'PENDING'),
 (5881, datetime.datetime(2013, 8, 30, 0, 0), 3715, 'CLOSED', 'COMPLETED'),
 (7564, datetime.datetime(2013, 9, 9, 0, 0), 8648, 'CLOSED', 'COMPLETED'),
 (8766, datetime.datetime(2013, 9, 18, 0, 0), 855, 'COMPLETE', 'COMPLETED'),
 (8926, datetime.datetime(2013, 9, 19, 0, 0), 10517, 'ON_HOLD', 'OTHER'),
 (9290, datetime.datetime(2013, 9, 21, 0, 0), 11879, 'COMPLETE', 'COMPLETED'),
 (9793, datetime.datetime(2013, 9, 24, 0, 0), 9809, 'COMPLETE', 'COMPLETED'),
 (9816, datetime.datetime(2013, 9, 24, 0, 0), 1753, 'COMPLETE', 'COMPLETED'),
 (14047, datetime.datetime(2013, 10, 20, 0, 0), 6473, 'CLOSED', 'COMPLETED')]

In [216]:
%%sql

SELECT DISTINCT order_status,
    CASE 
        WHEN order_status IN ('COMPLETE', 'CLOSED') THEN 'COMPLETED'
        WHEN order_status LIKE '%PENDING%' OR order_status IN ('PROCESSING', 'PAYMENT_REVIEW')
            THEN 'PENDING'
        ELSE 'OTHER'
    END AS updated_order_status
FROM orders
ORDER BY updated_order_status
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
9 rows affected.

[('CLOSED', 'COMPLETED'),
 ('COMPLETE', 'COMPLETED'),
 ('SUSPECTED_FRAUD', 'OTHER'),
 ('CANCELED', 'OTHER'),
 ('ON_HOLD', 'OTHER'),
 ('PAYMENT_REVIEW', 'PENDING'),
 ('PENDING_PAYMENT', 'PENDING'),
 ('PROCESSING', 'PENDING'),
 ('PENDING', 'PENDING')]