## Selecting or Projecting Data

Let us understand different aspects of projecting data. We primarily using `SELECT` to project the data.

* We can project all columns using `*` or some columns using column names.
* We can provide aliases to a column or expression using `AS` in `SELECT` clause.
* `DISTINCT` can be used to get the distinct records from selected columns. We can also use `DISTINCT *` to get unique records using all the columns.
* As part of `SELECT` clause we can have aggregate functions such as `count`, `sum` etc.

In [14]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

In [16]:
%sql SELECT * FROM orders LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]

In [17]:
%%sql 

SELECT * FROM information_schema.columns 
WHERE table_catalog = 'itversity_retail_db' 
    AND table_name = 'orders'

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
4 rows affected.

[('itversity_retail_db', 'public', 'orders', 'order_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_retail_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_retail_db', 'public', 'orders', 'order_date', 2, None, 'NO', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'itversity_retail_db', 'pg_catalog', 'timestamp', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_retail_db', 'public', 'orders', 'order_customer_id', 3, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_retail_db', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_retail_db', 'public', 'orders', 'order_status', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [18]:
%%sql 

SELECT order_customer_id, order_date, order_status 
FROM orders 
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(11599, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED'),
 (256, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT'),
 (12111, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (8827, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED'),
 (11318, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (7130, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (4530, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (2911, datetime.datetime(2013, 7, 25, 0, 0), 'PROCESSING'),
 (5657, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT'),
 (5648, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT')]

In [19]:
%%sql 

SELECT order_customer_id, 
    to_char(order_date, 'yyyy-MM'), 
    order_status 
FROM orders 
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(11599, '2013-07', 'CLOSED'),
 (256, '2013-07', 'PENDING_PAYMENT'),
 (12111, '2013-07', 'COMPLETE'),
 (8827, '2013-07', 'CLOSED'),
 (11318, '2013-07', 'COMPLETE'),
 (7130, '2013-07', 'COMPLETE'),
 (4530, '2013-07', 'COMPLETE'),
 (2911, '2013-07', 'PROCESSING'),
 (5657, '2013-07', 'PENDING_PAYMENT'),
 (5648, '2013-07', 'PENDING_PAYMENT')]

In [20]:
%%sql 

SELECT order_customer_id, 
    to_char(order_date, 'yyyy-MM') AS order_month, 
    order_status 
FROM orders 
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(11599, '2013-07', 'CLOSED'),
 (256, '2013-07', 'PENDING_PAYMENT'),
 (12111, '2013-07', 'COMPLETE'),
 (8827, '2013-07', 'CLOSED'),
 (11318, '2013-07', 'COMPLETE'),
 (7130, '2013-07', 'COMPLETE'),
 (4530, '2013-07', 'COMPLETE'),
 (2911, '2013-07', 'PROCESSING'),
 (5657, '2013-07', 'PENDING_PAYMENT'),
 (5648, '2013-07', 'PENDING_PAYMENT')]

In [21]:
%%sql 

SELECT DISTINCT to_char(order_date, 'yyyy-MM') AS order_month 
FROM orders

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
13 rows affected.

[('2014-01',),
 ('2014-05',),
 ('2013-12',),
 ('2013-11',),
 ('2014-04',),
 ('2014-07',),
 ('2014-03',),
 ('2013-08',),
 ('2013-10',),
 ('2013-07',),
 ('2014-02',),
 ('2013-09',),
 ('2014-06',)]

In [22]:
%sql SELECT count(1) FROM orders

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(68883,)]

In [23]:
%%sql 

SELECT count(DISTINCT to_char(order_date, 'yyyy-MM')) AS distinct_month_count 
FROM orders

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(13,)]