## Solution â€“ Daily Product Revenue

Let us review the Final Solution for our problem statement **daily_product_revenue**.

* Prepare tables
  * Create tables
  * Load the data into tables
* We need to project the fields which we are interested in. We need to have **product_id** as well as **product_name** as there can be products with same name and can result in incorrect output.
  * order_date
  * order_item_product_id
  * product_name
  * product_revenue
* As we have fields from multiple tables, we need to perform join after which we have to filter for COMPLETE or CLOSED orders.
* We have to group the data by order_date and order_item_product_id, then we have to perform aggregation on order_item_subtotal to get product_revenue.

In [107]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [108]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

In [109]:
%%sql

SELECT o.order_date,
    oi.order_item_product_id,
    p.product_name,
    round(sum(oi.order_item_subtotal::numeric), 2) AS product_revenue
FROM orders o 
    JOIN order_items oi
        ON o.order_id = oi.order_item_order_id
    JOIN products p
        ON p.product_id = oi.order_item_product_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date,
    oi.order_item_product_id,
    p.product_name
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 24, 'Elevation Training Mask 2.0', Decimal('319.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 93, "Under Armour Men's Tech II T-Shirt", Decimal('74.97')),
 (datetime.datetime(2013, 7, 25, 0, 0), 134, "Nike Women's Legend V-Neck T-Shirt", Decimal('100.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 572, "TYR Boys' Team Digi Jammer", Decimal('119.97')),
 (datetime.datetime(2013, 7, 25, 0, 0), 625, "Nike Men's Kobe IX Elite Low Basketball Shoe", Decimal('199.99'))]

In [110]:
%%sql

SELECT o.order_date,
    oi.order_item_product_id,
    p.product_name,
    round(sum(oi.order_item_subtotal::numeric), 2) AS product_revenue
FROM orders o 
    JOIN order_items oi
        ON o.order_id = oi.order_item_order_id
    JOIN products p
        ON p.product_id = oi.order_item_product_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date,
    oi.order_item_product_id,
    p.product_name
ORDER BY o.order_date,
    product_revenue DESC
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('2798.88')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('1079.73')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99'))]

In [111]:
%%sql

SELECT count(1) FROM (
    SELECT o.order_date,
        oi.order_item_product_id,
        p.product_name,
        round(sum(oi.order_item_subtotal::numeric), 2) AS product_revenue
    FROM orders o 
        JOIN order_items oi
            ON o.order_id = oi.order_item_order_id
        JOIN products p
            ON p.product_id = oi.order_item_product_id
    WHERE o.order_status IN ('COMPLETE', 'CLOSED')
    GROUP BY o.order_date,
        oi.order_item_product_id,
        p.product_name
) q

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(9120,)]