# Setup Database Client Libraries

In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /home/vspatil1330/demojl/lib/python3.6/site-packages (2.9.2)

In [17]:
import psycopg2

In [29]:
connection = psycopg2.connect(
    host='localhost',
    port='5432',
    database='sms_db',
    user='sms_user',
    password='sms_password'
)

connection.close()

In [4]:
import psycopg2

def get_connection(host, port, database, user, password):
    connection = None
    try:
        connection = psycopg2.connect(
            host=host,
            port=port,
            database=database,
            user=user,
            password=password
        )
    except Exception as e:
        raise(e)
    
    return connection

In [41]:
host = 'localhost'
port = '5432'
database = 'sms_db'
user = 'sms_user'
password = 'sms_password'

connection = get_connection(
    host=host,
    port=port,
    database=database,
    user=user,
    password=password
)

cursor = connection.cursor()
query = "SELECT * FROM information_schema.tables LIMIT 10"
cursor.execute(query)

for table_details in cursor:
    print(table_details)

connection.close()

('sms_db', 'public', 't', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('sms_db', 'public', 'courses', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('sms_db', 'pg_catalog', 'pg_type', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('sms_db', 'pg_catalog', 'pg_foreign_table', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('sms_db', 'pg_catalog', 'pg_roles', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('sms_db', 'pg_catalog', 'pg_settings', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('sms_db', 'pg_catalog', 'pg_available_extension_versions', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('sms_db', 'pg_catalog', 'pg_stat_xact_user_functions', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('sms_db', 'pg_catalog', 'pg_subscription', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('sms_db', 'pg_catalog', 'pg_attribute', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)

In [44]:
!ls -ltr /home/vspatil1330/sms_db

total 4
-rw-rw-r-- 1 vspatil1330 vspatil1330 319 Dec 10 07:03 user.txt

# CREATE

In [45]:
%load_ext sql

In [46]:
%env DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

env: DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

In [48]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = 'sms_db' AND table_schema = 'public'
LIMIT 10

 * postgresql://sms_user:***@localhost:5432/sms_db
2 rows affected.

[('sms_db', 'public', 't', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'courses', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [87]:
%%sql

DROP TABLE IF EXISTS users CASCADE;

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [88]:
%%sql

CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    create_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [89]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = 'sms_db' AND table_schema = 'public'
LIMIT 10

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[('sms_db', 'public', 't', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'courses', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [90]:
%sql SELECT * FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
0 rows affected.

[]

# INSERT

In [91]:
%run get_database.ipynb

In [92]:
# Here is the insert statement to insert one record
# INSERT INTO users (user_first_name, user_last_name, user_email_id)
# VALUES ('Scott', 'Tiger', 'scott@tiger.com')

cursor = sms_connection.cursor()
query = ("""
    INSERT INTO users 
        (user_first_name, user_last_name, user_email_id)
    VALUES 
        ('Scott', 'Tiger', 'scott@tiger.com')
""")
cursor.execute(query)
sms_connection.commit()

cursor.close()
sms_connection.close()

In [93]:
%sql SELECT * FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 25, 252181), datetime.datetime(2022, 1, 21, 6, 8, 25, 252181))]

In [94]:
%run get_database.ipynb

In [95]:
# Here is the insert statement to insert one record
# INSERT INTO users (user_first_name, user_last_name, user_email_id)
# VALUES ('Donald', 'Duck', 'donald@duck.com')

cursor = sms_connection.cursor()
query = ("""
    INSERT INTO users 
        (user_first_name, user_last_name, user_email_id)
    VALUES 
        (%s, %s, %s)
""")

user = ('Donald', 'Duck', 'donald@duck.com')
cursor.execute(query, user)
sms_connection.commit()

cursor.close()
sms_connection.close()

In [96]:
%sql SELECT * FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
2 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 25, 252181), datetime.datetime(2022, 1, 21, 6, 8, 25, 252181)),
 (2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 27, 973414), datetime.datetime(2022, 1, 21, 6, 8, 27, 973414))]

In [97]:
def add_user(connection, user):
    cursor = connection.cursor()
    query = ("""
        INSERT INTO users 
            (user_first_name, user_last_name, user_email_id, user_role, is_active)
        VALUES 
            (%s, %s, %s, %s, %s)
    """)

    cursor.execute(query, user)
    connection.commit()

    cursor.close()

In [98]:
%run get_database.ipynb

In [99]:
user = ('Mickey', 'Mouse', 'mickey@mouse.com', 'U', True)
add_user(sms_connection, user)

In [100]:
sms_connection.close()

In [101]:
%sql SELECT * FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 25, 252181), datetime.datetime(2022, 1, 21, 6, 8, 25, 252181)),
 (2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 27, 973414), datetime.datetime(2022, 1, 21, 6, 8, 27, 973414)),
 (3, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', True, datetime.datetime(2022, 1, 21, 6, 8, 29, 636349), datetime.datetime(2022, 1, 21, 6, 8, 29, 636349))]

In [102]:
%run get_database.ipynb

In [103]:
# Here is the insert statement to insert one record
# INSERT INTO users 
#     (user_first_name, user_last_name, user_email_id, user_password, user_role, is_active) 
# VALUES 
#     ('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub', 'U', true),
#     ('Tobe', 'Lyness', 'tlyness1@paginegialle.it', 'oEofndp', 'U', true),
#     ('Addie', 'Mesias', 'amesias2@twitpic.com', 'ih7Y69u56', 'U', true)

cursor = sms_connection.cursor()
query = ("""
    INSERT INTO users 
        (user_first_name, user_last_name, user_email_id, user_password, user_role, is_active)
    VALUES 
        (%s, %s, %s, %s, %s, %s)
""")

users = [
    ('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub', 'U', True),
    ('Tobe', 'Lyness', 'tlyness1@paginegialle.it', 'oEofndp', 'U', True),
    ('Addie', 'Mesias', 'amesias2@twitpic.com', 'ih7Y69u56', 'U', True)
]

cursor.executemany(query, users)
sms_connection.commit()

cursor.close()
sms_connection.close()

In [104]:
%sql SELECT * FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
6 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 25, 252181), datetime.datetime(2022, 1, 21, 6, 8, 25, 252181)),
 (2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 27, 973414), datetime.datetime(2022, 1, 21, 6, 8, 27, 973414)),
 (3, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', True, datetime.datetime(2022, 1, 21, 6, 8, 29, 636349), datetime.datetime(2022, 1, 21, 6, 8, 29, 636349)),
 (4, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, 'h9LAz7p7ub', 'U', True, datetime.datetime(2022, 1, 21, 6, 8, 30, 962528), datetime.datetime(2022, 1, 21, 6, 8, 30, 962528)),
 (5, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', False, 'oEofndp', 'U', True, datetime.datetime(2022, 1, 21, 6, 8, 30, 962528), datetime.datetime(2022, 1, 21, 6, 8, 30, 962528)),
 (6, 'Addie', 'Mesias', 'amesias2@twitpic.com', False, 'ih7Y69u56', 'U', True, datetime.datetime(2022, 1, 21, 6, 8, 30, 962528), datetime.datetime(2022, 1, 21, 6, 8, 30, 962528))]

# UPDATE

In [105]:
%run get_database.ipynb

In [73]:
%%sql 

SELECT user_id, user_role FROM users
WHERE user_id = 1

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[(1, 'U')]

In [74]:
# UPDATE users 
#     SET user_role = 'A' 
# WHERE user_id = 1

cursor = sms_connection.cursor()
query = ("""
    UPDATE users
        SET user_role = %s
    WHERE user_id = %s
""")

cursor.execute(query, ('A', 1))
sms_connection.commit()
sms_connection.close()

In [75]:
%%sql 

SELECT user_id, user_role FROM users
WHERE user_id = 1

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[(1, 'A')]

# DELETE

In [76]:
%run get_database.ipynb

In [77]:
%%sql 

SELECT user_id, 
    user_password 
FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
6 rows affected.

[(2, None),
 (3, None),
 (4, 'h9LAz7p7ub'),
 (5, 'oEofndp'),
 (6, 'ih7Y69u56'),
 (1, None)]

In [78]:
# DELETE FROM users WHERE user_password IS NULL OR user_id = 4

cursor = sms_connection.cursor()
query = ("""
    DELETE FROM users
    WHERE user_password IS NULL OR user_id = %s
""")

cursor.execute(query, (4,))
sms_connection.commit()
sms_connection.close()

In [79]:
%%sql 

SELECT user_id, user_password FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
2 rows affected.

[(5, 'oEofndp'), (6, 'ih7Y69u56')]

In [80]:
%%sql
TRUNCATE TABLE users;

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [81]:
%%sql
select * from users;

 * postgresql://sms_user:***@localhost:5432/sms_db
0 rows affected.

[]

# Querying Data From Table

In [107]:

%%sql
select * from users;

 * postgresql://sms_user:***@localhost:5432/sms_db
6 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 25, 252181), datetime.datetime(2022, 1, 21, 6, 8, 25, 252181)),
 (2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 27, 973414), datetime.datetime(2022, 1, 21, 6, 8, 27, 973414)),
 (3, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', True, datetime.datetime(2022, 1, 21, 6, 8, 29, 636349), datetime.datetime(2022, 1, 21, 6, 8, 29, 636349)),
 (4, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, 'h9LAz7p7ub', 'U', True, datetime.datetime(2022, 1, 21, 6, 8, 30, 962528), datetime.datetime(2022, 1, 21, 6, 8, 30, 962528)),
 (5, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', False, 'oEofndp', 'U', True, datetime.datetime(2022, 1, 21, 6, 8, 30, 962528), datetime.datetime(2022, 1, 21, 6, 8, 30, 962528)),
 (6, 'Addie', 'Mesias', 'amesias2@twitpic.com', False, 'ih7Y69u56', 'U', True, datetime.datetime(2022, 1, 21, 6, 8, 30, 962528), datetime.datetime(2022, 1, 21, 6, 8, 30, 962528))]

In [108]:
%run get_database.ipynb

In [109]:
cursor = sms_connection.cursor()

query = """
    SELECT * FROM users LIMIT 5
"""

cursor.execute(query)

for user in cursor:
    print(user)

sms_connection.close()

(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 25, 252181), datetime.datetime(2022, 1, 21, 6, 8, 25, 252181))
(2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 27, 973414), datetime.datetime(2022, 1, 21, 6, 8, 27, 973414))
(3, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', True, datetime.datetime(2022, 1, 21, 6, 8, 29, 636349), datetime.datetime(2022, 1, 21, 6, 8, 29, 636349))
(4, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, 'h9LAz7p7ub', 'U', True, datetime.datetime(2022, 1, 21, 6, 8, 30, 962528), datetime.datetime(2022, 1, 21, 6, 8, 30, 962528))
(5, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', False, 'oEofndp', 'U', True, datetime.datetime(2022, 1, 21, 6, 8, 30, 962528), datetime.datetime(2022, 1, 21, 6, 8, 30, 962528))

In [113]:
## Here is how we can filter data based up on user id. 
## As user_id is primary key in the table, we typically use cursor.fetchone to fetch the one record as object.


%run get_database.ipynb
cursor = sms_connection.cursor()

query = """
    SELECT * FROM users 
    WHERE user_id = %s 
"""

cursor.execute(query, (1,))

user = cursor.fetchone()

In [114]:
type(user)

tuple

In [115]:
print(user)

(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 25, 252181), datetime.datetime(2022, 1, 21, 6, 8, 25, 252181))

In [116]:
cursor.description

(Column(name='user_id', type_code=23),
 Column(name='user_first_name', type_code=1043),
 Column(name='user_last_name', type_code=1043),
 Column(name='user_email_id', type_code=1043),
 Column(name='user_email_validated', type_code=16),
 Column(name='user_password', type_code=1043),
 Column(name='user_role', type_code=1043),
 Column(name='is_active', type_code=16),
 Column(name='create_ts', type_code=1114),
 Column(name='last_updated_ts', type_code=1114))

In [117]:
def get_user_details(connection, user_id):
    cursor = connection.cursor()
    query = """
        SELECT * FROM users 
        WHERE user_id = %s 
    """
    cursor.execute(query, (user_id,))
    return cursor.fetchone()

In [119]:
user = get_user_details(sms_connection, 2)
print(user)

(2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 27, 973414), datetime.datetime(2022, 1, 21, 6, 8, 27, 973414))

In [120]:
sms_connection.close()

In [121]:
# Here is an example where the function will return dict type object.
%run get_database.ipynb
import psycopg2
from psycopg2.extras import DictCursor

def get_user_details(connection, user_id):
    cursor = connection.cursor(cursor_factory=DictCursor)
    query = """
        SELECT * FROM users 
        WHERE user_id = %s 
    """
    cursor.execute(query, (user_id,))
    return cursor.fetchone()

user = get_user_details(sms_connection, 1)
print(user)

[1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 1, 21, 6, 8, 25, 252181), datetime.datetime(2022, 1, 21, 6, 8, 25, 252181)]

In [122]:
type(user)

psycopg2.extras.DictRow

In [123]:
user['user_id']

1

In [124]:
user['user_email_id']

'scott@tiger.com'

In [125]:
sms_connection.close()

In [126]:
# Here is an example of a query which returns multiple records.
# We need to use fetchall or fetchmany to return the records as list of tuples or objects.

%run get_database.ipynb
cursor = sms_connection.cursor()

In [127]:
query = """
    SELECT user_id, user_email_id, user_password
    FROM users
    WHERE user_password IS NOT NULL
"""

In [128]:
cursor.execute(query)

In [129]:
users = cursor.fetchall()

In [130]:
type(users)

list

In [131]:
for user in users:
    print(user)

(4, 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub')
(5, 'tlyness1@paginegialle.it', 'oEofndp')
(6, 'amesias2@twitpic.com', 'ih7Y69u56')

In [132]:
users

[(4, 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub'),
 (5, 'tlyness1@paginegialle.it', 'oEofndp'),
 (6, 'amesias2@twitpic.com', 'ih7Y69u56')]

In [133]:
type(users[0])

tuple

In [134]:
## as a dict 
from psycopg2.extras import DictCursor
cursor = sms_connection.cursor(cursor_factory=DictCursor)
cursor.execute(query)
users = cursor.fetchall()
type(users)

list

In [135]:
for user in users:
    print(user)

[4, 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub']
[5, 'tlyness1@paginegialle.it', 'oEofndp']
[6, 'amesias2@twitpic.com', 'ih7Y69u56']

In [136]:
users

[[4, 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub'],
 [5, 'tlyness1@paginegialle.it', 'oEofndp'],
 [6, 'amesias2@twitpic.com', 'ih7Y69u56']]

In [137]:
type(users[0])

psycopg2.extras.DictRow

In [138]:
users[0]['user_email_id']

'gbradock0@barnesandnoble.com'

In [139]:
users[0]['user_email_id']

'gbradock0@barnesandnoble.com'